<div class="bg-white">
	<div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:max-w-7xl lg:px-8">

		<form action="/" method="GET">
			<div>
				<div class="flex space-x-2">
					<input type="search" required name="search" value="{{ .Data.SearchQuery }}" placeholder="Search..." class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
					<button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
				</div>
			</div>

			<div class="mt-10 md:flex justify-between items-center">
				{{ if .Data.SearchQuery }}
					<h2><span class="text-2xl font-bold">Searching for: {{.Data.SearchQuery}}</span> <span class="text-sm">(<a href="/" class="underline">reset</a>)</span></h2>
				{{ else }}
					<h2 class="text-2xl font-bold">Viewing all products</h2>
				{{ end }}
				<div class="mt-4 md:mt-0">
					<select onchange="this.form.submit()" name="sort" class="px-4 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
						<option value="name-asc"{{ if eq .Data.SortQuery "name-asc"}} selected{{end}}>Sort by name, asc</option>
						<option value="name-desc"{{ if eq .Data.SortQuery "name-desc"}} selected{{end}}>Sort by name, desc</option>
						<option value="price-asc"{{ if eq .Data.SortQuery "price-asc"}} selected{{end}}>Sort by price, asc</option>
						<option value="price-desc"{{ if eq .Data.SortQuery "price-desc"}} selected{{end}}>Sort by price, desc</option>
					</select>
				</div>
			</div>

		</form>

		{{ if eq (len .Data.PaginatedData.Results) 0 }}
			<p class="text-center py-24">No products found</p>
		{{ else }}
			<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
				{{ range .Data.PaginatedData.Results }}
					<a href="/product/{{.ID}}" class="group">
						<div class="aspect-square w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
							<img loading="lazy" src="{{.Thumbnail}}" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
						</div>
						<h3 class="mt-4 text-sm text-gray-700">{{ .Title }}</h3>
						<p class="mt-1 text-lg font-medium text-gray-900">{{ floatToCurrency .Price}}</p>
					</a>
				{{end}}
			</div>
		{{end}}

		<nav class="mt-10 flex items-center justify-between border-t border-gray-200 bg-white py-3" aria-label="Pagination">
			<div class="hidden sm:block">
				<p class="text-sm text-gray-700">
				Showing
				<span class="font-medium">{{ .Data.PaginatedData.From }}</span>
				to
				<span class="font-medium">{{ .Data.PaginatedData.To }}</span>
				of
				<span class="font-medium">{{ .Data.PaginatedData.Total }}</span>
				results
				</p>
			</div>
			<div class="flex flex-1 justify-between sm:justify-end">
				{{ if .Data.PaginatedData.HasPrevPage }}
				<a href="?page={{.Data.PaginatedData.PrevPage}}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
				{{ end }}
				{{ if .Data.PaginatedData.HasNextPage }}
				<a href="?page={{.Data.PaginatedData.NextPage}}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
				{{ end}}
			</div>
		</nav>

	</div>

</div>
